/* basic css for page */
* *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color and structure of navbar */
.heading {
  background: linear-gradient(110deg, #D4FFDB 60%, #00FF29 60%);
  height: 5rem;
  transition: 500ms !important;
  width: 30rem;
  display: flex;
  clip-path: polygon(
    0 0%,
    0% 0,
    0% 0,
    100% 0%,
    100% 60%,
    50% 100%,
    50% 100%,
    0% 60%,
    0% 10%
  );
}

/* dropdown hover */
.heading:hover {
  height: 30rem !important;
  transition: 500ms !important;
}

/* media query for navbar and dropdown hover */
@media only screen and (width < 426px) {
  .heading {
    height: 4rem;
    transition: 300ms !important;

    clip-path: polygon(
      0 0%,
      0% 0,
      0% 0,
      100% 0%,
      100% 60%,
      100% 100%,
      100% 100%,
      0% 60%,
      0% 10%
    );
  }
  .heading:hover {
    margin-top: -60px;
    height: 30rem !important;
    transition: 200ms;
    margin-bottom: 20px;
  }

  .navbar > .container-fluid {
    align-content: flex-end;
  }
}

.nav-item {
  font-size: 25px;
  padding: 10px;
  margin-top: -15px;
}


/* navbar links css and hovers with structure */
.nav-link:hover {
  color: white !important;
  transition: 500ms !important;
}

.nav-link:focus {
  color: white !important;
}

.navbar > .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* animation from arrors to navbar dropdown */
.animation {
  height: 40px;
  width: 40px;
  margin: 20px;
  transform: scale(1.1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(0.9);
  }
}

.calendar {
	display: flex;
  width:100% !important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.months {
	padding: 10px;
	width: 33%;
  border:1px solid black; 
  margin:15px;
}

@media screen and (max-width: 756px) {
	.months {
		width: 50%;	
	}
}

@media screen and (max-width: 480px) {
	.months {
		width: 100%;	
	}
}

.months h3 {
	margin: 5px 0;
	text-align: center;
}

.days_container,
.week_days_container {
	display: flex;
	flex-wrap: wrap;
}

.days,
.week_days {
	font-size: 14px;
	margin-bottom: 5px;
	height: calc(100% / 7);
	width: calc(100% / 7);
	text-align: center;
}

.days .circle {
	background-color: #02cb0f;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	width: 20px;
	height: 20px;
}

.days .circle:hover {
	transform: scale(1.1);
}

/* contact styling */

form{
  width: 40%;
  color: rgb(0, 0, 0);
  
}
.bodform{
  background-color: rgb(203, 203, 203);
}
h2{
  color: rgb(0, 0, 0);
  font-family: 'Cinzel', serif;
}
.icons{
  height: 2rem;
}

@media (width<500px) {
  form{
      width: 95%;
      margin-right: 20%;
      color: rgb(8, 8, 8);
      
  }
}